<!-- Content -->
<div class="w3-display-container w3-content" style="max-width:1500px;">
  <img class="background-image" src="assets/img/concert3.jpg" alt="concert-scene" style="min-width:1000px" width="1500">
  <div class="w3-main" style="margin-left:250px;margin-right:40px">
    <div class="w3-bar w3-text-white profile">
      <h2>Hi {{user.fname}}!</h2><button onclick="document.getElementById('settings').style.display='block'" class="w3-btn w3-border w3-red">Account Details</button>    
      <img class="w3-image w3-display-topright" id="profilepic-div" src="{{user.profilepic}}" />
    </div>
    <hr width="60%">

    <!--Friends-->
    <div class="w3-container w3-text-white" id="friends">
      <h2>Friends</h2>
      <div>
        <img class="friend" src="/assets/img/avatars/avatar1.png">
        <img class="friend"  src="/assets/img/avatars/avatar1.png">
        <img class="friend"  src="/assets/img/avatars/avatar1.png">
      </div>
      <button class="w3-btn w3-border w3-red" type="submit">Connect With New Friends</button>
    </div>
    <hr>

    <!--Past Events-->
    <div class="w3-container w3-text-white" id="past-events">
      <h2>Events You've Attended</h2>
      <div class="w3-row-padding w3-padding-16 w3-text-white w3-large">
        <div class="w3-half w3-margin-bottom">
          <div class="w3-display-container">
            <img src="assets/img/concert1.jpg" alt="Cinque Terre" style="width:100%">
            <span class="w3-display-bottomleft w3-padding">Blues On The Green</span>
          </div>
        </div>
        <div class="w3-half">
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half w3-margin-bottom">
              <div class="w3-display-container">
                <img src="assets/img/concert1.jpg" alt="New York" style="width:100%">
                <span class="w3-display-bottomleft w3-padding">Paul Simon</span>
              </div>
            </div>
            <div class="w3-half w3-margin-bottom">
              <div class="w3-display-container">
                <img src="assets/img/concert1.jpg" alt="San Francisco" style="width:100%">
                <span class="w3-display-bottomleft w3-padding">ACL</span>
              </div>
            </div>
          </div>
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half w3-margin-bottom">
              <div class="w3-display-container">
                <img src="assets/img/concert1.jpg" alt="Pisa" style="width:100%">
                <span class="w3-display-bottomleft w3-padding">Queer Eye Trivia Night</span>
              </div>
            </div>
            <div class="w3-half w3-margin-bottom">
              <div class="w3-display-container">
                <img src="assets/img/concert1.jpg" alt="Paris" style="width:100%">
                <span class="w3-display-bottomleft w3-padding">Cat Power</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- Profile Settings Modal -->

      <div id="settings" class="w3-modal">
        <div class="w3-modal-content">

          <header class="w3-container w3-red">
            <span onclick="document.getElementById('settings').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h2>My Account</h2>
          </header>

          <div class="w3-container">
            <table class="w3-bordered" id="account-info">
              <tbody>
                <tr>
                  <th>Name:</th>
                  <td>{{user.fname}} {{user.lname}}</td>
                </tr>
                <tr>
                  <th>Email:</th>
                  <td>{{user.email}}</td>
                </tr>
                <tr>
                  <th>Phone:</th>
                  <td>{{user.phone}}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <footer class="w3-container w3-red">
            <a href="/logout" class="w3-btn w3-red w3-border w3-right logout">Logout</a>
            <button class="w3-btn w3-border w3-red w3-left update">Update Information</button>
          </footer>

        </div>
      </div>