<tr class="w3-display-container w3-hover-sand">
	<td>{{name}}
	<td>{{type}}</td>
	<td>{{location}}</td>
	<td>{{price}}</td>
	<td>{{rating}}</td>
	<td>
		<button class="change-visit w3-right w3-card-4 update" data-id="{{id}}" data-newvisit="{{visit}}">
		{{#if visit}}Move To Visited{{else}}Yet To Dine{{/if}}</button>
	</td>
	<td>
		<button onclick="document.getElementById('update-modal').style.display='block'" class="w3-right w3-card-4 update" style="float: left">Update</button>
	</td>
	<td>
		<i class="delete-restaurant w3-large fa fa-trash" data-id="{{this.id}}"></i>
	</td>

</tr>


